@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

$mainColor: #f7d024;
$secColor: #112f41;

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: $mainColor;
    font-family: 'Bangers', cursive;

}

body {
    background: $secColor;
}

canvas {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $secColor;
    box-shadow: -8px -8px 16px #07151d,
        8px 8px 16px #2d698f;
}