@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');

$mainColor: #f7d024;
$secColor: #485936;

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: $mainColor;
    font-family: 'Bangers', cursive;
    
}

body {
    background: $secColor;
    height: 100vh;
    //background: url('../gui/background.png') no-repeat center right /cover;
}

canvas {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $secColor;
    box-shadow: -7px -7px 14px #2b3620,
        7px 7px 14px #637a4a;
}