@import url("https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap");
* {
  box-sizing: border-box; }

h1 {
  text-align: center;
  color: #f7d024;
  font-family: 'Bangers', cursive; }

body {
  background: #112f41; }

canvas {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #112f41;
  box-shadow: -8px -8px 16px #07151d, 8px 8px 16px #2d698f; }
